<link href="/css/homeStyle.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>

<% include header.ejs %>
<div class="container2">
    <div class="content">
        <div class='welcome'>
            <h1 class="welcome-text">❤Добро пожаловать <%= typeof user.name != 'undefined' ? ', ' + user.name : '' %>!❤</h1>
        </div>
    </div>
    <!-------Слайдер новинок------->
    <div class="wrapper shadow-effect">
        <div class="news-wrapper">
            <h2 class="slider-title">Новинки</h2>
            <hr/>
            <br/>

            <div class="slider">
                <!--сам слайд, в поле href ссылка на фильм
                в поле src ссылка на картинку
                в поле alt название фильма
                -->
                <div class="slide">
                    <div class="slide-cursor">
                        <a href="https://www.themoviedb.org/movie/301528-toy-story-4?language=ru-RU"><img
                                    src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/lQBF6jzW2gsk3Kr7dMdqrkGaukV.jpg"
                                    alt="">
                            <div class="slide-layer_top slide-layer_scale">
                                <div class="slide-text">История игрушек 4
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!---->
                <div class="slide">
                    <div class="slide-cursor">
                        <a href="https://www.themoviedb.org/movie/320288-dark-phoenix?language=ru-RU"><img
                                    src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/927lqua6AHPW4mUflU26yV3APKZ.jpg"
                                    alt="">
                            <div class="slide-layer_top slide-layer_scale">
                                <div class="slide-text">Люди Икс: Тёмный Феникс

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-cursor">
                        <a href="https://www.themoviedb.org/movie/479455-men-in-black-international?language=ru-RU"><img
                                    src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/rgZOhYFoTLjxf2s1RRHAXfnreqi.jpg"
                                    alt="">
                            <div class="slide-layer_top slide-layer_scale">
                                <div class="slide-text">Люди в чёрном: Интернэшнл
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-cursor">
                        <a href="https://www.themoviedb.org/movie/299537-captain-marvel?language=ru-RU"><img
                                    src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/cl7lFMru1YQs0Yf9vpTFPACoHhP.jpg"
                                    alt="">
                            <div class="slide-layer_top slide-layer_scale">
                                <div class="slide-text">Капитан Марвел

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-cursor">
                        <a href="https://www.themoviedb.org/movie/420817-aladdin?language=ru-RU"><img
                                    src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/sPwMpQCk8Mhd9PbCfXPEdK4ZzkA.jpg"
                                    alt="">
                            <div class="slide-layer_top slide-layer_scale">
                                <div class="slide-text">Аладдин

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-cursor">
                        <a href="https://www.themoviedb.org/movie/458156-john-wick-chapter-3?language=ru-RU"><img
                                    src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/t03rHGlU5jLBGrsjPZyut6LEv53.jpg"
                                    alt="">
                            <div class="slide-layer_top slide-layer_scale">
                                <div class="slide-text">Джон Уик 3

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------->

        <!-------Слайдер рекомендаций------->

        <div class="news-wrapper">
            <h2 class="slider-title">Рекомендации</h2>
            <hr/>
            <br/>
            <div class="slider">
                <div class="slide">
                    <div class="slide-cursor">
                        <a href="https://www.themoviedb.org/movie/301528-toy-story-4?language=ru-RU"><img
                                    src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/lQBF6jzW2gsk3Kr7dMdqrkGaukV.jpg"
                                    alt="">
                            <div class="slide-layer_top slide-layer_scale">
                                <div class="slide-text">История игрушек 4

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-cursor">
                        <a href="https://www.themoviedb.org/movie/320288-dark-phoenix?language=ru-RU"><img
                                    src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/927lqua6AHPW4mUflU26yV3APKZ.jpg"
                                    alt="">
                            <div class="slide-layer_top slide-layer_scale">
                                <div class="slide-text">Люди Икс: Тёмный Феникс

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-cursor">
                        <a href="https://www.themoviedb.org/movie/479455-men-in-black-international?language=ru-RU"><img
                                    src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/rgZOhYFoTLjxf2s1RRHAXfnreqi.jpg"
                                    alt="">
                            <div class="slide-layer_top slide-layer_scale">
                                <div class="slide-text">Люди в чёрном: Интернэшнл
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-cursor">
                        <a href="https://www.themoviedb.org/movie/299537-captain-marvel?language=ru-RU"><img
                                    src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/cl7lFMru1YQs0Yf9vpTFPACoHhP.jpg"
                                    alt="">
                            <div class="slide-layer_top slide-layer_scale">
                                <div class="slide-text">Капитан Марвел

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-cursor">
                        <a href="https://www.themoviedb.org/movie/420817-aladdin?language=ru-RU"><img
                                    src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/sPwMpQCk8Mhd9PbCfXPEdK4ZzkA.jpg"
                                    alt="">
                            <div class="slide-layer_top slide-layer_scale">
                                <div class="slide-text">Аладдин

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-cursor">
                        <a href="https://www.themoviedb.org/movie/458156-john-wick-chapter-3?language=ru-RU"><img
                                    src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/t03rHGlU5jLBGrsjPZyut6LEv53.jpg"
                                    alt="">
                            <div class="slide-layer_top slide-layer_scale">
                                <div class="slide-text">Джон Уик 3
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="news-wrapper">
            <h2 class="slider-title">Новинки</h2>
            <hr/>
            <br/>
            <div class="slider" id="recommendations"></div>
        </div>
        <!---------------------------------->
    </div>
</div>

<script src="http://yastatic.net/jquery/2.1.3/jquery.min.js"></script>
<script src="/scripts/sliderScript.js"></script>
<script type="text/javascript" src="/slick/slick.js"></script>