
<link rel="stylesheet" href="/public/css/style.css" type="text/css">
<div class='bold-line'><p>Добро пожаловать на KinoNew! Только здесь вы сможете узнать о всех самых свежих новинках киноиндустриии и сериалов в наиболее подробной форме!</p>
<p>Для использования нашего сайта необходимо войти в систему</p></div>
<div class='container'>
    <div class='window'>
        <div class='overlay'></div>
        <div class='content'>
            <div class='welcome'>Вход</div>
            <% include ./partials/messages.ejs %>
            <div class='subtitle'>Для использования нашего сайта необходимо войти в систему</div>
            <div class='input-fields'>
                <form method="post" action="/login">
                    <p><label for="login">Почта:</label></p>
                    <input 
                        id="login" 
                        name="login" 
                        type='email' 
                        placeholder='ВВедите вашу почту' 
                        class='input-line full-width' required
                    />
                    <p><label for="password">Пароль:</label></p>
                    <input 
                        id="password" 
                        name="password" 
                        required 
                        type='password' 
                        placeholder='Password' 
                        class='input-line full-width'
                    />
                </form>
            </div>
            <div class="button">
                <input 
                    class='ghost-round full-width' 
                    type="submit"
                />
            </div>
            <div class='spacing'>или <div class="g-signin2" data-onsuccess="onSignIn"></div></div>
            <div class='reg'>Первый раз? <a href="/users/register"><span class='highlight'>Зарегистрироваться</span></a></div>
        </div>
    </div>
</div>
