<-- Добро пожаловать на KinoNew! Только здесь вы сможете узнать о всех самых свежих новинках киноиндустриии и сериалов в наиболее подробной форме!>
<% include ./partials/messages.ejs %>
<div class='bold-line'></div>
<div class='container'>
    <div class='window'>
        <div class='overlay'></div>
        <div class='content'>
            <div class='welcome'>Вход</div>
            <div class='subtitle'>Для использования нашего сайта необходимо войти в систему</div>
            <div class='input-fields'>
                <form method="post" action="/users/login">
                    <p><label for="email">Почта:</label></p>
                    <input 
                        id="email"
                        name="email"
                        type='email' 
                        placeholder='Введите вашу почту'
                        class='input-line full-width'
                    />
                    <p><label for="password">Пароль:</label></p>
                    <input 
                        id="password" 
                        name="password"
                        type='password' 
                        placeholder='******'
                        class='input-line full-width'
                    />
                    <div class="button">
                        <input type="submit" class="ghost-round full-width">
                    </div>
                </form>
            </div>
            <div class='spacing'>или <div class="g-signin2" data-onsuccess="onSignIn"></div></div>
            <div class='reg'>Первый раз? <a href="/users/register"><span class='highlight'>Зарегистрироваться</span></a></div>
        </div>
    </div>
</div>
