<link href="/css/style.css" rel="stylesheet" type="text/css">
<% if((typeof errors != 'undefined') || (error != '') || (error_msg != '') || (success_msg != '')) {%>
    <div id = "msg_alert" >
        <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
                onclick="hide(document.getElementById('msg_alert'))">
            <span style="margin: 1% 10px" aria-hidden="true">&times;</span>
        </button>
        <% if((typeof errors != 'undefined') || (error != '') || (error_msg != '')) {%>
            <div class='msg_name'>Ошибка</div>
        <% } %>
        <% include ./partials/messages.ejs %>
    </div>
<% } %>
<div class='container2'>
    <div class='window'>
        <div class='content'>
            <div class='welcome'>Регистрация</div>
            <div class='input-fields'>
                <form id="register" method="post" action="/users/register">
                    <label for="name">Имя:</label>
                    <input
                            id="name"
                            name="name"
                            type='text'
                            placeholder='Ваше имя'
                            class='input-line full-width'
                            value="<%= typeof name != 'undefined' ? name : '' %>"
                    />
                    <label for="email">Почта<font color="red">*</font>:</label>
                    <input
                            id="email"
                            name="email"
                            type='email'
                            placeholder='your_mail@email.ru'
                            class='input-line full-width'
                            value="<%= typeof email != 'undefined' ? email : '' %>"
                            required
                    />
                    <a>
                        <div id="status"></div>
                    </a>
                    <label for="password">Пароль<font color="red">*</font>:</label>
                    <input
                            type='password'
                            placeholder='******'
                            class='input-line full-width'
                            id="password"
                            name="password"
                            required
                            value="<%= typeof password != 'undefined' ? password : '' %>"
                    />
                    <label for="passwordCheck">Подтвердите пароль<font color="red">*</font>:</label>
                    <input
                            type='password'
                            placeholder='******'
                            class='input-line full-width'
                            id="passwordCheck"
                            name="passwordCheck"
                            required
                            value=="<%= typeof passwordCheck != 'undefined' ? passwordCheck : '' %>"
                    />
                    <p id="error"></p>
                    <div>
                        <button id="button" type="submit" class='ghost-round full-width'>Создать аккаунт</button>
                    </div>
                </form>
            </div>
            <div class='reg'>Уже есть аккаунт? <a href="/users/login"><span class='highlight'>Войти</span></a></div>

        </div>
    </div>
</div>